<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/prospectus">Overview</a></li>
                    <li><a href="/syllabus">Syllabus</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/hw">Assignments</a></li>
                    <li><a href="/objectives">Learning objectives</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <!-- <li><a href="/demos">Demos</a></li> -->
                </ul>
            </nav>
            <div class="container">

            {{ content }}

            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="https://github.com/psych10">github.com/psych10</a></li>
                    <li><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. Reproduced with permission.</li>
                </ul>
            </footer>
        </body>
    </html>
