<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/prospectus">Overview</a></li>
                    <li><a href="/syllabus">Syllabus</a></li>
                    <li><a href="/objectives">Learning objectives</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/demos">Demos</a></li>
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="mailto:poldrack@gmail.com">email</a></li>
                    <li><a href="https://github.com/psych10">github.com/psych10</a></li>
                </ul>
            </footer>
        </body>
    </html>
